/* Hero Section */

.hero {
    height: 100vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("images/backgrounddd\ hero\ section.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}


.overlay {
    width: 100%;
}

/* About Me Section */

#about {
    background-color: #f8f9fa;
}


#about img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border: 5px solid white;
}


#about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #212529;
}


#about p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
}


#about .btn {
    margin-top: 15px;
    padding: 10px 25px;
}


#skills {
    background-color: #f8f9fa;
}


#skills h2 {
    font-size: 2.5rem;
}


#skills .card {
    border: none;
    transition: transform 0.3s ease;
}


#skills .card:hover {
    transform: translateY(-10px);
}


#skills i {
    font-size: 3rem;
    color: #212529;
}



#projects {
    background-color: #f8f9fa;
}


#projects h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}


#projects .card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#projects .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


#projects .card-img-top {
    height: 230px;
    object-fit: cover;
}


#projects .card-body {
    padding: 25px;
}


#projects .card-title {
    font-weight: bold;
    font-size: 1.3rem;
}


#projects .card-text {
    color: #555;
    line-height: 1.6;
}


#projects .btn {
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 25px;
}